---
import Layout from '../layouts/Layout.astro';
import Popup from '../components/Popup.astro';
import { Image } from 'astro:assets';
import hero from '../assets/hero.jpg';
import ParallaxBackground from '../components/ParallaxBackground.astro';
import bg1 from '../assets/bg1.jpg';
import bg2 from '../assets/bg2.jpg';

import getArticles from '../getArticles';

const latestArticles = getArticles().slice(0, 3);
---

<Layout>
	<Image id="hero" src={hero} alt="" />
	<div></div>
	<div class="px-4">
		<div
			class="bg-brand/25 border-neutral/50 mx-auto my-4 rounded-sm border p-4"
		>
			<h2 class="mb-4 text-2xl font-semibold">Vesti</h2>
			<div class="flex flex-col gap-4 sm:flex-row sm:justify-between">
				{
					latestArticles.map(({ title, date, imageSrc, slug, preview }) => {
						const formattedDate = new Date(date)
							.toLocaleDateString('sr-RS')
							.replace(/ /g, '');
						return (
							<div class="flex flex-col items-center space-y-2 rounded-sm bg-white p-2 text-center">
								<img class="h-[112px] w-[178px] object-cover" src={imageSrc} />
								<h3 class="m-0 line-clamp-2 font-semibold">{title}</h3>
								<p class="m-0 text-xs font-medium">{formattedDate}</p>
								<p class="line-clamp-2 text-sm">{preview}</p>
								<a
									class="bg-brand mt-auto cursor-pointer rounded-sm px-3 py-1.5 text-sm text-white transition-colors hover:bg-purple-800"
									href={`/vesti/${slug}`}
								>
									Pročitaj još
								</a>
							</div>
						);
					})
				}
			</div>
		</div>
	</div>
	<ParallaxBackground image={bg1} title="Samoubistvo ne mora da se dogodi!">
		Iskren i neosuđujući razgovor, u kom osobu pažljivo slušamo i prihvatamo je
		bez osude, može biti od velikog značaja za njeno sagledavanje situacije u
		kojoj se nalazi.
	</ParallaxBackground>
	<div id="prijava">
		<h1>Pridružite nam se!</h1>
		<p>Ako želite da učinite nešto za ljude koji vas okružuju</p>
		<p>Ako imate malo slobodnog vremena koje želite korisno da provedete</p>
		<p>Ako ste topli, strpljivi, otvoreni i nemate predrasuda</p>
		<p>Ako nemate baš sve te osobine ali imate volju da ih razvijete</p>
		<div id="prijava_link_position">
			<a
				href="https://docs.google.com/forms/d/e/1FAIpQLSegrUXpiXD31WXbfjVI4I9WJyRZBAdWolQMthrsoI5qmj4cyg/viewform?pli=1"
				target="_blank"
				id="prijava_link">Prijava</a
			>
		</div>
	</div>
	<ParallaxBackground image={bg2} title="Sarađujte sa nama!">
		Zainteresovani smo za saradnju u oblasti zaštite i unapređenja mentalnog
		zdravlja sa javnim, korporativnim i civilnim sektorom
	</ParallaxBackground>
</Layout>

<style>
	#hero {
		height: auto;
		width: 100%;
	}

	.bg {
		background-attachment: fixed;
		background-position: center center;
		color: white;
		height: 400px;
		text-align: center;
	}

	.bg > div {
		position: relative;
		top: 115px;
	}

	.bg h1,
	.bg h2 {
		margin: 0;
	}

	#bg1 {
		margin-top: 150px;
	}

	#prijava {
		color: #3d3d3d;
		text-align: center;
	}

	#prijava > * {
		margin: 0;
	}

	#prijava h1 {
		margin: 10px 0;
	}

	#prijava_link_position {
		margin-bottom: 10px !important;
		margin-top: 10px !important;
	}

	#prijava_link {
		text-decoration: none;
		color: #ffffff;
		background-color: #8d5fa8;
		padding: 10px 20px 10px 20px;
		display: inline-block;
	}

	#prijava_link:hover {
		background-color: #e5e5e5;
		color: #8d5fa8;
	}
</style>
