---
import { ROUTES } from '../routes';
import Link from './Link.astro';
---

<footer>
	<div id="data">
		<div>
			<h2>Resursi</h2>
			<ul>
				<li><Link to={ROUTES.thinkingAboutSuicide} dark>Samoubistvo</Link></li>
				<li><Link to={ROUTES.whatYouCanDo} dark>Kako pomoći?</Link></li>
				<li>
					<Link to={ROUTES.preservingMentalHealth} dark>Mentalno zdravlje</Link>
				</li>
				<li><Link dark>Download</Link></li>
				<li><Link dark>O nama</Link></li>
				<li><Link to={ROUTES.news} dark>Vesti</Link></li>
				<li><Link to={ROUTES.volunteering} dark>Volontiranje</Link></li>
				<li><Link to={ROUTES.donations} dark>Donacije</Link></li>
			</ul>
		</div>
		<div>
			<h2>Donacije</h2>
			<h3>Dinarski račun</h3>
			<p>325-9500600063672-27</p>
			<p>OTP Banka A.D.</p>
			<p>Trg Slobode 5, Novi Sad</p>
			<h3>Devizni račun</h3>
			<p>20-305-0000030</p>
			<p>ProCredit Bank a.d., ekspozitura Novi Sad</p>
			<p>Bulevar Cara Lazara 76</p>
		</div>
		<div>
			<h2>Kontakt</h2>
			<div id="contact">
				<p>Telefon</p>
				<p>021/6623 393</p>
				<p>Besplatan broj</p>
				<p>0800/ 300 303</p>
				<p>Email</p>
				<p>vanja@centarsrce.org</p>
				<p>Čet preko našeg sajta</p>
				<p>www.centarsrce.org</p>
				<p>Radno vreme</p>
				<p>svakog dana<br />od 14 do 23</p>
			</div>
		</div>
		<div>
			<h2>Mreže</h2>
			<ul>
				<li>
					<a
						href="https://www.facebook.com/Centar-Srce-117397131639928/"
						target="_blank"
						rel="noopener"
						>Facebook
					</a>
				</li>
				<li>
					<a
						href="https://www.youtube.com/user/centarsrce"
						target="_blank"
						rel="noopener"
					>
						YouTube
					</a>
				</li>
				<li>
					<a
						href="https://twitter.com/centarsrce"
						target="_blank"
						rel="noopener"
					>
						Twitter
					</a>
				</li>
				<li>
					<a
						href="https://instagram.com/centarsrce"
						target="_blank"
						rel="noopener"
					>
						Instagram
					</a>
				</li>
				<li>
					<a
						href="https://play.google.com/store/apps/details?id=com.centarsrce"
						target="_blank"
						rel="noopener"
					>
						Google Play
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="signature">
		<p>
			<a href="#">&copy 2016. Centar Srce</a>
			Design by <a href="mailto:mushusasa@gmail.com">Vanja & Mushu</a>
		</p>
	</div>
</footer>

<style>
	footer {
		background-color: #4d4d4d;
		color: #ffffff;
		font-size: 14px;
		padding: 16px 24px 0;
	}

	#data {
		display: flex;
		justify-content: center;
		gap: 24px;
		flex-wrap: wrap;
	}

	h2 {
		font-size: 14px;
		font-weight: 600;
		margin: 0 0 12px;
	}

	h3 {
		font-size: 14px;
		font-weight: 400;
		margin: 12px 0;
	}

	ul {
		padding: 0;
		list-style: none;
	}

	p {
		margin: 0;
	}

	#contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#contact p:nth-child(2n -1) {
		padding-right: 8px;
		border-right: 1px solid #ffffff;
	}

	#contact p:nth-child(2n) {
		margin-left: 8px;
	}

	#signature {
		padding-bottom: 4px;
	}

	#signature a {
		color: #8b60a6;
	}
</style>
